/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* ----- General ----- */
html {

}

body {

}

h1 {
  text-align: center;
  font-size: 52px;
  font-family: font-family: 'Lusitana', serif;
  letter-spacing: -2px;
}

h2 {
  text-align: center;
  font-size: 46px;
  font-family: font-family: 'Lusitana', serif;
  letter-spacing: -2px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #007ACC;
  font-family: sans-serif;
}

h5 {
  font-size: 13px;
  font-weight: bold;
  color: #CC0014;
  font-family: sans-serif;
  margin-top: 8px;
}

p {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

/* ----- Header -----*/
header {

}

nav {
  width:100%;
  height:46px;
  padding: 20px;
}

nav ul li{
  display: inline;
  font-size: 11.5px;
  font-family: sans-serif;
}

nav ul li:not(:first-child) {
  float: right;
  margin-right: 20px;
}

ul > li > a {
  text-decoration: none;
  color: #004D99;
}
ul > li > a:hover {
  color: #00D6D6;
}

#day-indicator {
  color: #AAA;
  margin-left: 30px
}

#sign-in {
  color: #00D6D6;
  margin-right: 50px;
}

#sign-in:hover {
  color: #004D99;
}

/* ----- Main 1 -----*/

.main1 > img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  width: 820px;
  height: 162px;
}

.message1, .message2, .message3 {
  visibility:hidden;
}

.box {
  clear: both;
  width: 820px;
  height: 300px;
  margin: auto;
}

.box > a {
  display: inline-block;
  width: 170px;
  height: 220px;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  background-color: #EFEFEF;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #CCC;
}
.box > a:first-child {
  margin-left: 120px;
}

.box > a:nth-child(2), .box > a:first-child {
  margin-right: 30px;
}

.box h3 {
  text-decoration: underline;
  display: inline-block;
}

.box p {
  color: #111;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
}

sup {
  vertical-align: 75%;
  font-size: 12px;
  text-decoration: none;
}

#three-stars {
  margin: -10px 0 30px 0;
  text-align: center;
  word-spacing: 10px;
  color: #DDD;
  font-size: 20px;
}

/* ----- Main 2 ------ */
.main2 {
  margin: auto;
}

.container2 {
  margin: auto;
  width: 830px;
  height: 162px;
}

.box2 {
  clear: both;
  width: 820px;
  margin: auto;
}

.sub_container {
  margin: auto;
  margin-bottom: 30px;
  width: 830px;
  display: inline-block;
}

.sub_container_article {
  width: 500px;
  display: inline-block;
  margin: 0 0 20px 0;
}

.center_image {
  margin-bottom: 40px;
}

.center_image > img {
  margin: auto;
  display: block;
}

/* ----- Footer -----*/